@model IEnumerable<My_work.Models.Products>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="SINDI">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDiscription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemNumber)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDiscription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemNumber)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>
}

</table>
